*.h5
1e+00_Zsun_population_max.h5-2.zip
1e+00_Zsun_population.h5-2.zip
1e+00_Zsun_population.h5
1e+00_Zsun_population_max.h5
*.csv
/data
/.ipynb_checkpoints
__pycache__
/__pycache__
/testing
/graphs
/paper/Graphs
mainpaper.bbl
mainpaper.synctex.gz
*.bcf
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.xml
*.gz
/.venv
Mass Transfer in Binary Stars.bcf
Mass Transfer in Binary Stars.log
Mass Transfer in Binary Stars.synctex.gz
Mass Transfer in Binary Stars.fdb_latexmk
Mass Transfer in Binary Stars.blg
Mass Transfer in Binary Stars.aux
Mass Transfer in Binary Stars.bbl
*.bbl-SAVE-ERROR
*.out
